.pio
arduino/BraccioRobotFirmware/.vscode/.browse.c_cpp.db*
arduino/BraccioRobotFirmware/.vscode/c_cpp_properties.json
arduino/BraccioRobotFirmware/.vscode/launch.json
arduino/BraccioRobotFirmware/.vscode/ipch
*.o
*moc_*.*
*.stash
*.user